@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

/* 로그인 페이지 전체를 설정하는 스타일 */
.LoginPage {
    background-color: #2b2b2b;
    width: 23.4375rem;
    height: 50.75rem;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: calc(50% - 28.9375rem);
    left: calc(50% - 13.375rem);
    transform: translate(-50%, -50%);
}

/* 헤더 아이콘 설정 */
.HeaderIcon {
    position: absolute;
    width: 2.00894rem;
    height: 1.5625rem;
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #ffffff;
    top: 3.5rem;
    left: 2.37rem;
}

/* 헤더 제목 설정 */
.HeaderTitle {
    position: absolute;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 3.38rem;
    left: 9.56rem;
}

/* 로그인 입력 필드 설정 */
.LoginPageInput {
    position: relative;
    top: 11.5rem;
    left: 2.38rem;
    margin-bottom: 3.06rem;
}

.LoginPageInput input {
    font-size: 25px; /* 입력 필드의 텍스트 크기 수정 */
    padding: 0.625rem 0.625rem 0.625rem 0.3125rem;
    border-radius: 0.9375rem;
    background: rgba(217, 217, 217, 0.20);
    display: block;
    width: 18.75rem;
    height: 4.375rem;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #757575;
    outline: none; /* 입력 필드에 포커스가 있을 때 아웃라인을 없애는 설정 */
}

.LoginPageInput input::placeholder {
    text-align: center;
    font-size: 1.125rem;
}

/* 라벨의 위치 및 색상 등을 설정 */
.LoginPageInput label{
    color:#999;
    font-size: 0.625rem;;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left: 0.3125rem;
    top: 0.625rem;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    opacity: 0;
}

.LoginPageInput img{
    position: absolute;
    left: 1rem;
    opacity: 1; /* 기본적으로 이미지 표시 */
    transition:0.2s ease all; /* 투명도 변경 효과를 부드럽게 만듦 */
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* 입력 필드에 포커스가 있거나 유효한 입력이 있을 때 이미지 숨김 */
.LoginPageInput input:focus ~ img,
.LoginPageInput input:valid ~ img{
    opacity: 0;
}


.passicon{
    top: 1.4375rem;
}

.emailicon{
    top: 1.625rem;
}


/* 입력 필드에 포커스가 있거나 유효한 입력이 있을 때 라벨의 위치 및 크기 변경 */
.LoginPageInput input:focus ~ label, input:valid ~ label {
    top: -1.875rem;
    font-size: 1.25rem;
    color:#D6B4A2;
    opacity: 1;
}

/* 입력 필드 아래의 바를 설정 */
.bar {
    position: relative;
    display: block;
    width: 18.75rem;
}

.bar:before,
.bar:after {
    content: '';
    height: 0.125rem;
    width: 0;
    bottom: 0.0625rem;
    position: absolute;
    background: #D6B4A2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* 입력 필드에 포커스가 있을 때 바의 길이를 확장 */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: calc(50% - 3%);
}

/* 입력 필드에 포커스가 있을 때 하이라이트 표시 */
.highlight {
    position: absolute;
    height: 60%;
    width: 6.25rem;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* 하이라이트의 애니메이션 효과 설정 */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* 애니메이션 효과 설정 */
@keyframes inputHighlighter {
    from {
        background: #D6B4A2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* 로그인 체크박스 위치 설정 */
.LoginPageCheck {
    position: absolute;
    top: 24.06rem;
    left: 3.13rem;
}

/* 로그인 링크 위치 설정 */
.LoginPageLink {
    position: absolute;
    top: 24.06rem;
    right: 3.06rem;
}

.LoginPageLink a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

/* 로그인 버튼 설정 */
.LoginButton {
    position: absolute;
    top: 29.94rem;
    left: 2.38rem;
    width: 18.75rem;
    height: 4.375rem;
    border-radius: 15px;
    background: #D6B4A2;
    cursor: pointer;
}

/* 로그인 버튼 내부의 텍스트 설정 */
.LoginButton span {
    position: absolute;
    top: 1.31rem;
    left: 7.25rem;
    color: #2b2b2b;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: normal;
}

/* 페이지 푸터 위치 설정 */
.LoginPageFooter {
    position: absolute;
    top: 830px;
    left: calc(50% - 106px);
    font-size: 15px;
    font-weight: 600;
}

/* 네이버 로그인 버튼 위치 설정 */
.LoginNaver {
    position: absolute;
    top: 36.88rem;
    left: 5.25rem;
}

/* 구글 로그인 버튼 위치 설정 */
.LoginGoogle {
    position: absolute;
    top: 36.88rem;
    left: 10.42rem;
}

/* 카카오 로그인 버튼 위치 설정 */
.LoginKakao {
    position: absolute;
    top: 36.88rem;
    left: 16.19rem;
}

/* 페이지 푸터 텍스트 설정 */

.LoginPageFooter{
    top: 43.75rem;
    left: 5.12rem;
}
.LoginPageFooterText1 {
    color: #ffffff;
}

.LoginPageFooterText2 {
    color: #2b2b2b;
}

.LoginPageFooterText3 {
    text-decoration: underline;
    color: #D6B4A2;
}
