@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

/* 로그인 페이지 전체를 설정하는 스타일 */
.LoginPage {
    background-color: #2b2b2b;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    position: absolute;
}

/* 헤더 아이콘 설정 */
.HeaderIcon {
    position: absolute;
    width: 32.143px;
    height: 25px;
    flex-shrink: 0;
    stroke-width: 6px;
    stroke: #ffffff;
    top: 10vh;
    left: 10%;
}

/* 헤더 제목 설정 */
.HeaderTitle {
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    top: 10vh;
    left:50%;
    transform: translateX(-50%);
}

/* 로그인 입력 필드 설정 */
.LoginPageInputEmail {
    position: absolute;
    top: 25vh;
    left:50%;
    transform: translateX(-50%);
}
.LoginPageInputPassword{
    position: absolute;
    top: 38vh;
    left:50%;
    transform: translateX(-50%);
}

.LoginPageInputEmail input,
.LoginPageInputPassword input{
    font-size: 25px; /* 입력 필드의 텍스트 크기 수정 */
    padding: 10px 10px 10px 5px;
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.20);
    display: block;
    width: 340px;
    height: 70px;
    border: none;
    color: #ffffff;
    border-bottom: 1px solid #757575;
    outline: none; /* 입력 필드에 포커스가 있을 때 아웃라인을 없애는 설정 */
}

.LoginPageInputEmail input::placeholder,
.LoginPageInputPassword input::placeholder{
    text-align: center;
    font-size: 18px;
}

/* 라벨의 위치 및 색상 등을 설정 */
.LoginPageInputEmail label,
.LoginPageInputPassword label {
    color:#999;
    font-size:10px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    opacity: 0;
}

.LoginPageInputEmail img,
.LoginPageInputPassword img{
    position: absolute;
    left: 16px;
    opacity: 1; /* 기본적으로 이미지 표시 */
    transition:0.2s ease all; /* 투명도 변경 효과를 부드럽게 만듦 */
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* 입력 필드에 포커스가 있거나 유효한 입력이 있을 때 이미지 숨김 */
.LoginPageInputEmail input:focus ~ img,
.LoginPageInputEmail input:valid ~ img,
.LoginPageInputPassword input:focus ~ img,
.LoginPageInputPassword input:valid ~ img{
    opacity: 0;
}


.passicon{
    top: 23px;
}

.emailicon{
    top: 26px;
}


/* 입력 필드에 포커스가 있거나 유효한 입력이 있을 때 라벨의 위치 및 크기 변경 */
.LoginPageInputEmail input:focus ~ label, input:valid ~ label,
.LoginPageInputPassword input:focus ~ label, input:valid ~ label{
    top:-30px;
    font-size:20px;
    color:#D6B4A2;
    opacity: 1;
}

/* 입력 필드 아래의 바를 설정 */
.bar {
    position: relative;
    display: block;
    width: 328px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #D6B4A2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* 입력 필드에 포커스가 있을 때 바의 길이를 확장 */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: calc(50% - 3%);
}

/* 입력 필드에 포커스가 있을 때 하이라이트 표시 */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* 하이라이트의 애니메이션 효과 설정 */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* 애니메이션 효과 설정 */
@keyframes inputHighlighter {
    from {
        background: #D6B4A2;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* 로그인 체크박스 위치 설정 */
.LoginPageCheck {
    position: absolute;
    top: 48%;
    left: 10%;
}

/* 로그인 링크 위치 설정 */
.LoginPageLink {
    position: absolute;
    top: 48%;
    right: 10%;
}
.LoginPageLink a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 글자 색상을 상속받음 */
}

/* 로그인 버튼 설정 */
.LoginButton {
    position: absolute;
    top: 60vh;
    left:50%;
    transform: translateX(-50%);
    width: 340px;
    height: 70px;
    border-radius: 15px;
    background: #D6B4A2;
}

/* 로그인 버튼 내부의 텍스트 설정 */
.LoginButton span {
    position: absolute;
    top: 21px;
    left: 136px;
    color: #2b2b2b;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
}

/* 페이지 푸터 위치 설정 */
.LoginPageFooter {
    position: absolute;
    top: 90vh;
    left: calc(50% - 106px);
    font-size: 15px;
    font-weight: 600;
}

/* 네이버 로그인 버튼 위치 설정 */
#naverIdLogin{
    visibility: hidden;
    z-index: 4;
}
.LoginNaver {
    position: absolute;
    top: 73vh;
    left: 20%;
    border-radius: 100%;
    z-index: 2;
}

/* 구글 로그인 버튼 위치 설정 */
.LoginGoogle {
    position: absolute;
    top: 73vh;
    left:50%;
    transform: translateX(-50%);
}

/* 카카오 로그인 버튼 위치 설정 */
.LoginKakao {
    position: absolute;
    top: 73vh;
    left: 70%
}

/* 페이지 푸터 텍스트 설정 */
.LoginPageFooterText1 {
    color: #ffffff;
}

.LoginPageFooterText2 {
    color: #2b2b2b;
}

.LoginPageFooterText3 {
    text-decoration: underline;
    color: #D6B4A2;
}

/*!* 휴대폰 가로 너비가 428px 이하일 때 스타일 변경 *!*/
/*@media screen and (max-width: 428px) {*/
/*    .LoginPage {*/
/*        transform: scale(0.82); !* 스케일을 0.82로 설정하여 82%로 축소 *!*/
/*    }*/
/*}*/