/* 구글 폰트 로드 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Song+Myung&display=swap');

* {
    box-sizing: border-box;
}

.HomePage {
    position: fixed;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


/* 본문 영역에 대한 스타일 */
.RealMainBodyPage {
    width: 100%;
    height: 100vh;
    background: #ffffff;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.RealMainHeader, .RealMainUpBody, .RealMainDownBody, .RealMainFooter {
    scroll-snap-align: start;
    height: 100vh;
}

.RealMainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 헤더 영역에 대한 스타일 */
.RealMainHeader {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    /*background: linear-gradient(120deg, #ffffff, #F2EFEB, #F2EFEB, #ffffff, #ffffff);*/
    /*background-size: 400% 400%;*/
    /*animation: gradient 10s ease infinite;*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.RealMainHeaderLogo{
    position: absolute;
    top: 3vh;
    left: 40%;
    transform: translateX(-50%);
    width: 285px;
    height: 70px;
    scale: 0.8;
}

.RealMainHeaderTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

.RealMainHeader h1 {
    position: absolute;
    font-family: 'Song Myung', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    top: 68vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 10);
    z-index: 2;
}

.RealMainHeader h3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    top: 72vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
    z-index: 2;
}

.MainHeaderCountDown {
    position: absolute;
    top: 74vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30vh;
    z-index: 4;

}

.RealMainHeaderBg{
    position: absolute;
    width: 45%;
    height: 40%;
    top: 60%;
    left: -10%;
    border-radius: 0 200px 0 0;
    background-color: #acbaac;
    z-index: 1;
}


/* 상단 컨텐츠 영역에 대한 스타일 */
.RealMainUpBody {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #D6B4A2;
    /*overflow: hidden;*/
}

.RealMainUpBodyBg {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 3;
}


.TodayAuction {
    position: absolute;
    top: 25vh;
    left: 67vw;
    scale: 0.95;
    z-index: 10;
}

.PrevAuction {
    position: absolute;
    top: 65vh;
    left: 27%;
    scale: 0.5;
    z-index: 10;
}

.NextAuction {
    position: absolute;
    top: 80vh;
    left: 74%;
    scale: 0.7;
    z-index: 10;
}

.MainAuctionItem-Today h1 {
    position: absolute;
    z-index: 10;
    font-family: 'Song Myung', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    top: 30vh;
    left: 20%;
    transform: translateX(-50%) rotate(-90deg);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 10);
}

.MainAuctionItem-Today h3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    top: 30vh;
    left: 26%;
    transform: translateX(-50%) rotate(-90deg);
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
    z-index: 10;
}

.MainAuctionItem-Prev h1 {
    position: absolute;
    z-index: 4;
    font-family: 'Song Myung', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    top: 78vh;
    left: 27%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 10);
}

.MainAuctionItem-Prev h3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    top: 81vh;
    left: 19%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
    z-index: 6;
}


.MainAuctionItem-Next h1 {
    position: absolute;
    z-index: 4;
    font-family: 'Song Myung', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    top: 57vh;
    left: 73%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 10);
}

.MainAuctionItem-Next h3 {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    top: 60vh;
    left: 81%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
    z-index: 6;
}


/* 하단 영역에 대한 스타일 */
.RealMainDownBody {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.RealMainDownBody h1{
    position: absolute;
    z-index: 4;
    font-family: 'Song Myung', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 10);
}

.RealMainDownBody h3{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    top: 9vh;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    color: #7d7d7d;
}

.RealMainDownBgUp {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 20%;
    left: 11%;
    background-color: #9aaca1;
    z-index: 0;
    scale: 1;
}

.RealMainDownBgDown {
    position: absolute;
    width: 45vw;
    height: 45vw;
    top: 87vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 0 0;
    background-color: #dc9596;
    z-index: 1;
}

/* 푸터 영역에 대한 스타일 */
.RealMainFooter {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #9787bb;
}

.RealMainFooterInfo {
    position: absolute;
    width: 75%;
    height: 3rem;
    top: 69vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-size: 5px;
}

.RealMainFooterLogo {
    position: absolute;
    bottom: 8vh;
    left: 40%;
    transform: translateX(-50%);
    width: 285px;
    height: 70px;
    scale: 0.8;
}

.RealMainFooterMenu {
    font-size: 12px;
    margin-bottom: 15px;
}

.RealMainFooterMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.RealMainFooterMenu li {
    margin-right: 10px;
}

.RealMainFooterBg {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 2;
}

