@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Song+Myung&display=swap');

.y_atlist-p {
    margin: 0;
    line-height: 1.0;
  }
  .y_atlist-p1,
  .y_atlist-p2{
    position: absolute;
    top: calc(50% - 369.5px);
    left: calc(50% - 170px);
  }
  .y_atlist-p1,
  .y_atlist-p2{
    top: calc(50% - 425px);
    font-size: 1.5rem;
  }
  .y_atlist-p2{
    top: calc(50% - 390px);
    font-size: 1rem;
    color: #636366;
  }
  .y_atlist-mainimg,
  .y_atlist-namediv{
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 174px);
    border-radius: 12px;
    width: 21.75rem;
    height: 21.75rem;
  }
  .y_atlist-namediv{
    top: calc(50% - 100px);
    left: calc(50% - 124px);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 15.5rem;
    height: 4.19rem;
  }
  .y_atlist-p3,
  .y_atlist-p4{
    position: absolute;
    left: calc(50% - 107px);
    font-weight: 500;
  }
  .y_atlist-p3 {
    top: calc(50% - 85px);
    font-size: 1rem;
    font-weight: bold;
  }
  .y_atlist-p4 {
    top: calc(50% - 63px);
    color: #393939;
  }
  .y_liveoff-icon{
    position: absolute;
    top: calc(50% - 83px);
    left: calc(50% + 85.5px);
    width: 1.69rem;
    height: 1.9rem;
  }
  .y_liveon-icon{
    position: absolute;
    top: calc(50% - 83px);
    left: calc(50% + 85.5px);
    width: 1.69rem;
    height: 1.9rem;
    color:#b24c4b;
    animation: blink 1s infinite; /* 1초 간격으로 무한히 반복 */
  }
  @keyframes blink {
    0% {
      opacity: 1; /* 0%에서 표시 */
    }
    50% {
      opacity: 0.5; /* 50%에서 숨김 */
    }
    100% {
      opacity: 1; /* 100%에서 다시 표시 */
    }
  }
  .y_atlist-p5 {
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% - 170px);
    font-size: 1.25rem;
  }
  .y_atlist-text1,
  .y_atlist-text2,
  .y_atlist-imgbox,
  .y_auctionlist-div2{
    position: absolute;
    top: calc(50% + 209.5px);
    left: calc(50% - 170px);
    border-radius: 10px 10px 0 0;
    width: 8.69rem;
    background-color: #000;
    height: 6.81rem;
  }
  .y_auctionlist-div3{
    width:8.69rem;
    line-height: 1.2;
  }
  
  .y_atlist-imgbox,
.y_auctionlist-div2{
  top: calc(50% + 80px);
  border-radius: 10px 10px 0 0;
  width: 9.81rem;
  height: 6.81rem;
}
.y_auctionlist-div2{
  object-fit: contain; 
}
  .y_atlist-text1,
  .y_atlist-text2,
  .y_auctionlist-div2{
    left: calc(50% + 15px);
  }
  .y_atlist-text1,
  .y_atlist-text2{
    top: calc(50% + 190.5px);
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    width: 9.81rem;
    height: 4.56rem;
  }
  .y_atlist-text1{
    position: absolute;
    left: calc(50% - 170px);
  }
  .y_atlist-text2{
    left: calc(50% + 15px);
  }
  .y_atlist-p6,
  .y_auctionlist-div3,
  .y_auctionlist-div4,
  .y_auctionlist-div5{
    position: absolute;
    top: calc(50% + 195.5px);
    left: calc(50% - 163px);
  }
  .y_auctionlist-div3,
  .y_auctionlist-div4,
  .y_auctionlist-div5{
    left: calc(50% + 23px);
  }
  .y_auctionlist-div4,
  .y_auctionlist-div5 {
    top: calc(50% + 225.5px);
    left: calc(50% - 163px);
    font-size: 0.56rem;
    color: #636366;
  }
  .y_auctionlist-div5{
    left: calc(50% + 23px);
  }
  .y_auctionlist-div{
    position: relative;
    background-color: rgba(236, 214, 165, 0.17);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 0.75rem;
    color: #000;
    font-family: 'Roboto';
  }
  .y_atlist-heart{
    position: absolute;
    top: calc(50% - 260.5px);
    left: calc(50% + 110px);
    width:2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    background-color:  rgba(255, 255, 255, 0.6);
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }
  .y_atlist-heart i{
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }
  