@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Song+Myung&display=swap');

.y_atif-p1 {
  top: calc(50% - 152.5px);
  font-size: 1.5rem;
  font-weight: 700;
}
.y_atif-p1,
.y_atif-p2,
.y_atif-line{
  position: absolute;
  left: calc(50% - 186px);
}
.y_atif-line {
  top: calc(50% - 53.5px);
  background-color: #d9d9d9;
  width: 23.25rem;
  height: 0.06rem;
}
.y_atif-p2{
  top: calc(50% - 39.5px);
  font-size: 1.25rem;
  font-weight: 700;
}
.y_atif-p3{
  margin: 0;
}
.y_atif-div {
  position: absolute;
  top: calc(50% + 1.5px);
  left: calc(50% - 186px);
  font-size: 1rem;
  width: 22.5rem;
  color: #727275;
}
.y_auctioninfo-div {
  position: fixed;
  bottom: 0;
  border-radius: 40px 40px 0 0;
  background-color: #fff;
  left: calc(50% - 210px);
  width: 26.5rem;
  height: 22.94rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: 'Roboto';
  transform: translateY(100%);
  animation: slide-up 0.5s forwards;
}  
  @keyframes slide-up {
    0% {
      transform: translateY(100%); /* 아래에서 시작 */
    }
    100% {
      transform: translateY(0); /* 위로 이동 */
    }
  }
  .y_atinfo-amount,
  .y_atinfo-floor,
  .y_atinfo-likes,
  .y_atinfo-waiting {
    position: absolute;
    top: calc(50% - 107.5px);
    left: calc(50% - 171px);
    font-weight: 300;
    color: #545454;
    font-size: 1rem;
  }
.y_atinfo-amount,
.y_atinfo-likes,
.y_atinfo-waiting  {
  left: calc(50% - 85px);
}
.y_atinfo-likes,
.y_atinfo-waiting {
  left: calc(50% + 17px);
}
.y_atinfo-likes{
  left: calc(50% + 116px);
}
.y_atinfo-1,
.y_atinfo-2,
.y_atinfo-3,
.y_atinfo-4{
  position: absolute;
  top: calc(50% - 81.5px);
  left: calc(50% - 171px);
  font-size: 1rem;
  font-weight: 500;
}
.y_atinfo-2,
.y_atinfo-3,
.y_atinfo-4{
  left: calc(50% + 116px);
}
.y_atinfo-3,
.y_atinfo-4{
  left: calc(50% + 17px);
}
.y_atinfo-4{
  left: calc(50% - 85px);
}
.y_atinfo-heart{
  position: absolute;
  top: calc(50% - 157.5px);
  left: calc(50% + 142px);

}
