.y_auctionlive-child {
    position: absolute;
    top: 5.94rem;
    left: calc(50% - 585px);
    background-color: #d9d9d9;
    width: 73.13rem;
    height: 14.75rem;
}
.y_livescreen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.y_span {
    font-size: 2.25rem;
}
.y_aa1 {
    font-size: 4rem;
}
.y_aa {
    margin: 0;
}
.y_arte-arena {
    margin: 0;
    font-size: 2.5rem;
}
.y_aa-arte-container {
    position: absolute;
    top: 9.69rem;
    left: calc(50% - 143px);
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
    width: 17.88rem;
    height: 7.19rem;
    font-size: 4rem;
}
.y_chatscreen,
.y_livescreen{
    position: absolute;
    top: 20.81rem;
    left: calc(50% - 545px);
    border : 1px solid gainsboro;
    width: 68.06rem;
    height: 51.06rem;
}
.y_chatscreen{
    top: 80.7rem;
    height: 48.06rem;
    overflow-y:auto;
}
.y_banner{
    position: absolute;
    top: 71.7rem;
    left: calc(50% - 545px);
    border: 1px solid black;
    height: 9.0rem;
    width: 68.06rem;
}
.message-right {
    text-align: right;
    color: black;
    margin-right: 10px;
}
.message-left {
    text-align: left;
    color: black;
    margin-left: 10px;
}
.y_chatscreen b{
    font-family: Gowun Dodum;
}

.y_donation{
    position: absolute;
    top: 8.5rem;
    left: calc(50% - 109px);
    letter-spacing: 3.21px;
    line-height: 2.57rem;
}
.y_icon-donate{
    position: absolute;
    height: 57.95%;
    width: 58.6%;
    top: -1.33%;
    right: 20.47%;
    bottom: 43.39%;
    left: 20.93%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.y_donation-parent{
    position: absolute;
    top: 140.44rem;
    left: calc(50% + 14px);
    width: 13.63rem;
    height: 11.13rem;
}
.y_bidding{
    position: absolute;
    top: 8.5rem;
    left: calc(50% - 87.5px);
    letter-spacing: 3.21px;
    line-height: 2.57rem;
}
.y_biddingicon{
    position: absolute;
    height: 68.74%;
    top: -1.95%;
    bottom: 33.21%;
    left: calc(50% - 61.06px);
    max-height: 100%;
    width: 7.63rem;
    cursor: pointer;
}
.y_bidding-parent {
    position: absolute;
    top: 140.44rem;
    left: calc(50% + 359px);
    width: 10.94rem;
    height: 11.13rem;
}
.y_sendicon{
    position: absolute;
    height: 3.96%;
    top: 88.78%;
    bottom: 7.26%;
    left: calc(50% - 520.11px);
    max-height: 100%;
    width: 7.83rem;
    cursor: pointer;
}
.y_detail,
.y_send{
    position: absolute;
    top: 8.75rem;
    left: calc(50% + 53.5px);
    letter-spacing: 3.21px;
    line-height: 2.57rem;

}
.y_send{
    left: calc(50% - 201.5px);
}
.y_infoicon{
    position: absolute;
    height: 65.03%;
    width: 29.37%;
    top: -2.29%;
    right: 3.68%;
    bottom: 37.27%;
    left: 66.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.y_detail-parent,
.y_chatinput2{
    position: absolute;
    top: 140.19rem;
    left: calc(50% - 517px);
    width: 25.19rem;
    height: 11.38rem;
}
.y_chatinput2{
    font-family: Gowun Dodum;
}
.y_header{
    position: absolute;
    top: 0;
    left: calc(50% - 585px);
    background-color: #000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 73.13rem;
    height: 5.94rem;
}
.y_chatinput2{
    top: 129.13rem;
    left: calc(50% - 545px);
    width: 58.06rem;
    height: 7.5rem;
    border-radius: 10px;
    border: 1px solid ;
}
#y_sendbtn {
    position: absolute;
    top: 129.13rem;
    left: calc(50% + 402px);
    width: 8.88rem;
    border-radius: 10px;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#y_sendbtn h1 {
    margin: 0;
}
.y_auctionlive {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 158.25rem;
    overflow: hidden;
    text-align: center;
    font-size: 2.41rem;
    color: #000;
    font-family: "Song Myung";
}
