.y_detailed-information {
    position: absolute;
    top: 6.31rem;
    left: 7rem;
    font-size: 4.38rem;
}
.y_date-20230704,
.y_detail-title {
    position: absolute;
    top: 13.75rem;
    left: 7rem;
}
.y_detail-title {
    top: 19.44rem;
}
.y_detail-p{
    margin: 0;
}
.y_artist,
.y_detail-container {
    position: absolute;
    top: 30.81rem;
    left: 7rem;
}
.y_artist {
    top: 25.13rem;
}
.y_detail-div,
.y_detail-icon {
    border-radius: 20px;
}
.y_detail-icon  {
    position: absolute;
    top: 52.31rem;
    left: 9.19rem;
    width: 46.88rem;
    height: 48.19rem;
    object-fit: cover;
}
.y_detail-div{
    position: relative;
    background-color: #fff;
    width: 65.31rem;
    height: 104.63rem;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: left;
    font-size: 3rem;
    color: #000;
    font-family: "Song Myung";
}
