.y_please-donate {
    top: 5.19rem;
}
.y_donation-p,
.y_inner,
.y_please-donate,
.y_donation-div{
    position: absolute;
    left: calc(50% - 404.5px);
}
.y_donation-p{
    top: 16.88rem;
    font-size: 3.44rem;
}
.y_inner,
.y_donation-div {
    top: 22.94rem;
    width: 49.88rem;
    height: 6.19rem;
}
.y_donation-div {
    top: 33.81rem;
    left: calc(50% + 245.5px);
    background-color: #d9d9d9;
    width: 9.13rem;
    height: 6.25rem;
}
.y_don{
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    width: 56.69rem;
    height: 45.81rem;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: 5rem;
    color: #000;
    font-family: "Song Myung";
}
