@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Song+Myung&display=swap');

.y_result-graph{
  position: absolute;
  top: 5rem;
  left: calc(50% - 180px);
  width: 23.38rem;
  height: 20.44rem;
  font-family: 'Roboto';
}
.y_resultmodal-div {
  position: fixed;
  bottom : 0;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  width: 28.5rem;
  height: 30.5rem;
  left: calc(50% - 225px);
  overflow: hidden;
  transform: translateY(100%);
  animation: slide-up 0.5s forwards;
  font-family: 'Roboto';
}
@keyframes slide-up {
  0% {
    transform: translateY(100%); /* 아래에서 시작 */
  }
  100% {
    transform: translateY(0); /* 위로 이동 */
  }
}
