.y_myimage{
    position: absolute;
    top: 14.19rem;
    left: calc(50% - 66px);
    border-radius: 10px;
    background-color: #e8eaea;
    width: 7.63rem;
    height: 7.63rem;
  }
  .y_input-p{
    position: relative;
    line-height: 140%;
  }

  .y_info-input {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid rgba(17, 17, 19, 0.2);
    box-sizing: border-box;
    height: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.81rem 1rem;
    align-items: center;
    justify-content: flex-start;
  }
  .y_info-input:focus{
    border-radius: 4px;
    outline: 2px solid  #d9d9d9;
  }
  .y_input-field,
  .y_input-field1 {
    position: absolute;
    top: 39.69rem;
    left: calc(50% - 101px);
    width: 18.31rem;
    height: 2.94rem;
    color: rgba(17, 17, 19, 0.6);
  }
  .y_input-field1 {
    top: 49.06rem;
    left: calc(50% - 103px);
  }

  .y_info-input2,
  .y_input-field3 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
  }
  .y_info-input2{
    border-radius: 4px;
    border: 1px solid #111113;
    box-sizing: border-box;
    height: 3rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0.81rem 1rem;
    align-items: center;
    justify-content: flex-start;
  }
  .y_input-field3 {
    height: 100%;
    bottom: 0;
  }
  .y_input-field2 {
    position: absolute;
    top: 44.19rem;
    left: calc(50% - 101px);
    width: 18.19rem;
    height: 3.31rem;
    font-size: 0.81rem;
    color: #111113;
  }
  .y_infoemail-p{
    position: absolute;
    top: 40.5rem;
    left: calc(50% - 193px);
    line-height: 140%;
  }
  .y_input-field4 {
    position: absolute;
    top: 35.19rem;
    left: calc(50% - 101px);
    width: 18.31rem;
    height: 2.94rem;
    color: rgba(17, 17, 19, 0.6);
  }
  .y_infoname-p,
  .y_pwd-p,
  .y_hp-p {
    position: absolute;
    top: 36rem;
    left: calc(50% - 193px);
    line-height: 140%;
  }
  .y_pwd-p,
  .y_hp-p {
    top: 45rem;
  }
  .y_hp-p {
    top: 49.88rem;
  }
  .y_edit-div{
    position: absolute;
    top: 0;
    left: calc(50% - 23px);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 2.88rem;
    height: 2.88rem;
  }
  .y_icon-edit{
    position: absolute;
    cursor: pointer;
    height: 54.35%;
    top: 21.74%;
    bottom: 23.91%;
    left: calc(50% - 12px);
    max-height: 100%;
    width: 1.56rem;
  }
  .eye-show-icon,
  .rectangle-parent {
    position: absolute;
    top: 19.94rem;
    left: calc(50% + 20px);
    width: 2.88rem;
    height: 2.88rem;
  }
  .eye-show-icon {
    top: 44.94rem;
    left: calc(50% + 100px);
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
  }
  .y_info-p1{
    position: absolute;
    top: 9.06rem;
    left: calc(50% - 89px);
    font-size: 2rem;
    line-height: 140%;
    color: #000;
  }
  .y_infoupdate-btn{
    top: 54.69rem;
    left: calc(50% - 123px);
    border-radius: 5px;
    background-color: #d6b4a2;
    width: 15.31rem;
    border:none;
    height: 3.19rem;
    color :white;
  }
  .inner,
  .y_infoupdate-btn {
    position: absolute;
  }

  .inner {
    top: 62.63rem;
    left: calc(50% - 169px);
    border-radius: 10px;
    background-color: rgba(214, 180, 162, 0.17);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 21.06rem;
    height: 15.75rem;
  }
  .y_icon-bell {
    position: absolute;
    height: 1.79%;
    top: 74.70%;
    bottom: 23.84%;
    left: calc(50% - 147.75px);
    max-height: 100%;
    width: 1.51rem;
  }
  .y_info-p2,
  .y_info-p3{
    position: absolute;
    left: calc(50% - 193px);
    line-height: 140%;
  }
  .y_info-p2{
    top: 27.69rem;
    font-size: 1.25rem;
    color: #231717;
  }
  .y_info-p3{
    top: 29.44rem;
    font-size: 0.94rem;
  }
  .background {
    position: absolute;
    top: calc(50% - 10.5px);
    right: 0.44rem;
    border-radius: 100px;
    background-color: #fff;
    width: 1.06rem;
    height: 1.06rem;
  }
 

  .on-wrapper {
    position: absolute;
    width: 2.88rem;
    height: 1.44rem;
  }

  .on-wrapper {
    top: 64.8rem;
    left: calc(50% + 92px);
  }
  .div5,
  .div6,
  .div7 {
    position: absolute;
    top: 65.19rem;
    left: calc(50% - 108px);
    font-size: 1.13rem;
  }
  .div6,
  .div7 {
    top: 69.75rem;
  }
  .div7 {
    top: 74.13rem;
  }
  .icon-arrow-right-circled,
  .icon-arrow-right-circled1,
  .icon-emoji-sad {
    position: absolute;
    height: 2.11%;
    top: 84.45%;
    bottom: 13.45%;
    left: calc(50% + 112.25px);
    max-height: 100%;
    width: 1.84rem;
  }
  .icon-arrow-right-circled1,
  .icon-emoji-sad {
    height: 6.41%;
    top: 79.52%;
    bottom: 14.08%;
  }
  .icon-emoji-sad {
    height: 1.89%;
    top: 79.80%;
    bottom: 18.52%;
    left: calc(50% - 148.75px);
    width: 1.66rem;
  }
  .y_back,
  .icon-question-mark-circle {
    position: absolute;
    height: 3.65%;
    top: 4%;
    bottom: 92.35%;
    left: calc(50% - 198.07px);
    max-height: 100%;
    width: 3.2rem;
  }
  .icon-question-mark-circle {
    height: 1.89%;
    top: 84.8%;
    bottom: 13.59%;
    left: calc(50% - 148.75px);
    width: 1.66rem;
  }
  .rectangle-div {
    position: absolute;
    top: 31.94rem;
    left: calc(50% - 193px);
    background-color: #000;
    width: 23.94rem;
    height: 0.06rem;
  }
  .child1,
  .child2 {
    position: absolute;
    width: 18.13rem;
    height: 0.19rem;
  }
  .child1 {
    top: 68rem;
    left: calc(50% - 148px);
    background-color: #fff;
  }
  .child2 {
    top: 72.38rem;
    left: calc(50% - 149px);
  }
  .child2,
  .child3,
  .y_info-div{
    background-color: #fff;
  }
  .child3 {
    position: absolute;
    top: 76.81rem;
    left: calc(50% - 149px);
    width: 18.13rem;
    height: 0.19rem;
  }
  .y_info-div{
    position: relative;
    width: 100%;
    height: 87.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 1rem;
    color: #2b2b2b;
    font-family: Inter;
  }
  