.MainHeaderNavBar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 901;
}

.AuctionNavBtn{
    margin-left: -10px;
}

.MainHeaderNavBar nav {
    position: relative;
    top: 10%;
    width: 319px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.MainHeaderNavBar nav > * {
    position: relative;
    width: 33.333%;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

.MainHeaderNavBar nav p:before,
.MainHeaderNavBar nav p:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.MainHeaderNavBar nav p:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.MainHeaderNavBar nav p:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

.MainHeaderNavBar nav p:nth-child(1):before {
    background-color: yellow;
}

.MainHeaderNavBar nav p:nth-child(1):after {
    background-color: red;
}

.MainHeaderNavBar nav p:nth-child(2):before {
    background-color: #00e2ff;
}

.MainHeaderNavBar nav p:nth-child(2):after {
    background-color: #89ff00;
}

.MainHeaderNavBar nav p:nth-child(3):before {
    background-color: purple;
}

.MainHeaderNavBar nav p:nth-child(3):after {
    background-color: palevioletred;
}

.MainHeaderNavBar nav p:hover {
    color: #7d7d7d;
}

.MainHeaderNavBar nav p:hover:before,
.MainHeaderNavBar nav p:hover:after {
    transform: scale(1);
}

.MainHeaderNavBar nav p:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}

.MainHeaderNavBar nav p:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.MainHeaderNavBar nav p:nth-child(3):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, purple, palevioletred);
}
